hr {
  background: #dedede;
  border: 0;
  height: 2px;
}

body{
	font-size:16px;
}

.menu1 ul{
	position: absolute;
	z-index: 999;
}

.break{
	clear: both;
	height: 10px;
	width: 100%;
	margin:auto;
	border-bottom: 2px solid #EEEEEE;
}

.break90{
	clear: both;
	height: 10px;
	width: 90%;
	margin:auto;
	border-bottom: 2px solid #EEEEEE;
}

.space20{
	height: 20px;
	width: 100%;
}


.row-item{
	padding-left:15px;
}

.border-left{
	border-left: 2px solid #EEEEEE;
}

/* .border-right{
	border-right: 1px solid #EEEEEE;
} */

a{
	color:black;
}

a:hover{
	text-decoration: none;
}

.myheader{
	background-color: #337AB7;
	color:white;
}

.clear{
	clear:both;
}
.row{
	margin-right: 0px!important;
	margin-left: 0px!important
}
.navbar-inverse .navbar-nav>li>a {
    color: #edeff2;
}
.navbar-inverse .navbar-brand {
    color: #edeff2;
    text-transform: uppercase;
}

.bot2{
	text-align: center;
}

.bot3{
	text-align: center;
}

th {
    text-align: center;
}

table {
    margin: auto;
}

.sends input{
	background-color: #FEAD11;
}
.sends input:hover{
	background-color: #272822;
	color: #fff;
}

.button_them{
	padding: 5px 10px;
	background-color: #FFBD3E;
	text-decoration: none;
	box-shadow: 1px 2px #ccc;
	border-radius: 5px;
}

.button_them:hover{
	text-decoration: none;
	color: #fff;
}
